
body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #d1d0d4, #7e7d83);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: -1;
}


h1 {
    color: white;
    margin-top: 30px;
    text-shadow: 2px 2px 5px black;
}


.contenedor-principal {
    margin-top: 20px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

form {
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}


button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4b42d4;
}


a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}